<!doctype html>
<html lang="en">
<head>
        <meta charset="UTF-8" />
        <title>  {% block title %} Live. Love. List. {% endblock %} | ListForks.com</title>    
        
        {% block stylesheets %}
    
                <link href="../../../resources/styles/style.css" type="text/css" rel="stylesheet" />
        {% endblock %}

            <!-- main css -->
        <link href="style.css" rel="stylesheet" type="text/css"> 

        <!-- Google Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Fenix|Montserrat+Alternates:400,700' rel='stylesheet' type='text/css'>

        <!-- html5.js for IE less than 9 -->
        <!--[if lt IE 9]>
                <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        
         
    </head>
    <body>

        <div id="body">
            
            {% block body %} 
                <em> This is message from the layout view</em>:
            {% endblock %}
            
        </div>


        <footer>
                 
        
        </footer>
        {% block footer %} 
                {% include 'ListForksBundle:Footer:footer.html.twig' %}          
        {% endblock %} 
    </body>
</html>