<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>  {% block title %} {% endblock %} | ListForks.com</title>    
        
        
         
    </head>
    <body>
 
     


        <div id="body">
            
             {% block body %} 
                
             {% endblock %}

           
                <div class="flash-message">
                    <em> This is message from the layout view</em>:
                </div>


           
               
            
        </div>





        
      {% block footer %} 
             {% include 'ListForksBundle:Footer:footer.html.twig' %}          
      {% endblock %}
        

   
    </body>
</html>
