<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title></title>
        
    </head>
    <body>
 

        <div id="symfony-wrapper">
            <div id="symfony-header">
                
                <form id="symfony-search" method="GET" action="http://symfony.com/search">
                    <label for="symfony-search-field"><span>Search on Symfony Website</span></label>
                    <input name="q" id="symfony-search-field" type="search" placeholder="Search on Symfony website" class="medium_txt" />
                    <input type="submit" class="symfony-button-grey" value="OK" />
                </form>
            </div>

           
                <div class="flash-message">
                    <em>Notice</em>:
                </div>

                <ul id="menu">
                        <li><a href="">Demo Home</a></li>

                </ul>

                <div style="clear: both"></div>
           

            <div class="symfony-content">
                
            </div>

           
                <h2>Code behind this page</h2>
                <div class="symfony-content">hello</div>
            
        </div>




        
        <nav>
            <br /><br /><br />
            <hr />
            <p>navigation during development</p>
            <a href="../list/index" >List:Index</a>
            <a href="../account" >Account:Index</a>
        </nav>
    </body>
</html>
