<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Listforks</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!--	build:css styles/main.css -->
    <link href="http://fonts.googleapis.com/css?family=Montserrat+Alternates:400,700|Sanchez:400italic,400" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/listforks.css">
    <!--  endbuild-->
  </head>
  <body>
    <div id="topnav" class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container"><a data-toggle="collapse" data-target=".nav-collapse" class="btn btn-navbar"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar">                          </span></a><a href="/" class="brand"><img src="/images/listforks-logo-small.png"></a>
          <div id="navigation" class="nav-collapse">
            <ul class="nav">
              <li><a href="/app_dev.php">Home</a></li>
              <li class="active"><a href="#lists">My Lists</a></li>
              <li><a href="#users">Find Users</a></li>
              <li><a href="/" onclick="(function(){ window.location = '/app_dev.php/accounts/logout'})(); return false;">Logout</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div id="loading-holder" style="display:none" class="container">
      <div class="loading">
        <h2>Please wait while we load your request...</h2>
        <div class="loadingIcon">  </div>
      </div>
    </div>
    <div id="lists" style="display: none" class="container module"></div>
    <div id="lists-view" style="display: none" class="container module"></div>
    <div id="users" style="display: none" class="container module"></div>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script src="/components/jquery/jquery.js"></script>
    <script src="/components/bootstrap-js/bootstrap.min.js"></script>
    <script src="/components/sammy/lib/min/sammy-latest.min.js">       </script>
    <script src="/components/knockout.js/knockout.js">               </script>
    <!-- build:js scripts/scripts.js         -->
    <script src="/scripts/bindings.js"> </script>
    <script src="/scripts/rest.js"> </script>
    <script src="/scripts/viewModels/list.js">       </script>
    <script src="/scripts/viewModels/user.js">       </script>
    <script src="/scripts/viewModels/account.js">       </script>
    <script src="/scripts/viewModels/application.js">       </script>
    <script src="/scripts/app.js"></script>
    <script>
      $(document).ready(function(){
          window.ListForksInstance = Listforks.application();    
      });
    </script>
    <!-- endbuild -->
  </body>
</html>