<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Listforks</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!--	build:css styles/main.css -->
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/listforks.css">
    <!--  endbuild-->
  </head>
  <body ng-app="wwwApp">
    <div id="topnav" class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container"><a data-toggle="collapse" data-target=".nav-collapse" class="btn btn-navbar"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar">                          </span></a><a href="/" class="brand"><img src="/images/listforks-logo-small.png"></a>
          <div id="navigation" class="nav-collapse">
            <ul class="nav">
              <li><a href="index.html">Categories</a></li>
              <li><a href="setup-notes.html">Popular</a></li>
              <li class="active"><a href="navbar-examples.html">Followers</a></li>
              <li><a href="tabs-pills.html">My Lists</a></li>
            </ul><!--
            <div class="row">
              <div class="span4 pull-left removeMarginLeft fixRow"><a>
                  <h4>Categories<small>&nbsp;Filter your lists</small></h4></a><a>
                  <h4>Popular<small>&nbsp;Browse famous lists                                              </small></h4></a></div>
              <div class="span4 pull-left removeMarginLeft"><a>
                  <h4>Followers<small>&nbsp;Filter your lists</small></h4></a></div>
              <div class="clearfix"></div>
            </div>
            <div class="row">
              <div class="span5 pull-right removeMarginLeft"><a>
                  <h4>My Lists<small>&nbsp;Filter your lists                    </small></h4></a></div>
            </div>-->
          </div>
        </div>
      </div>
    </div>
    <div ng-view="ng-view" id="main" class="container"></div>
    <script src="/scripts/vendor/angular.js"></script>
    <script src="/components/jquery/jquery.js"></script>
    <script src="/components/bootstrap-js/bootstrap.min.js"></script>
    <!-- build:js scripts/scripts.js -->
    <script src="/scripts/app.js"></script>
    <script src="/scripts/controllers/main.js"></script>
    <!-- endbuild -->
  </body>
</html>