
<div id="titleRow" class="row-fluid">
  <h2 class="title">&middot; List &middot;</h2>
</div>
<div data-bind="foreach: lists" class="row">
  <div data-bind="template: { name: selectedTemplate, data: list }" class="span6 forklist"></div>
</div>
<script type="text/html" id="displayList">
  <div class="header">
    <div class="name">
      <h3 data-bind="text:name">NAME</h3><i class="icon-info-sign icon-white"></i>
    </div>
    <div class="rating"><i class="icon-heart heart icon-white"></i><i class="icon-heart heart icon-white"></i><i class="icon-heart heart icon-white"></i></div>
  </div>
  <div class="description">
    <p data-bind="text:description">DESCRIPTION</p>
  </div>
  <table class="content">
    <tbody data-bind="template: { name: $parents[0].selectedSubtemplate }"></tbody>
  </table>
  <div class="more"><span><i class="icon-downArrow"></i>More</span></div>
  <div class="buttons"><a class="btn btn-primary">Fork it</a><a class="btn">Details</a><a data-bind="click: $parents[0].editList" class="btn">Edit</a><a data-bind="click: $root.remove" class="btn btn-danger">Delete</a></div>
</script>