
<div id="titleRow" class="row-fluid">
  <h2 class="title">&middot; Users &middot;</h2>
</div>
<div data-bind="foreach: users" class="row">
  <div data-bind="template: { name: 'displayUser', data: user }" class="span4 forklist"></div>
</div>
<script type="text/html" id="displayUser">
  <div class="header">
    <div class="name">
      <h3 data-bind="text:name">NAME</h3><i class="icon-info-sign icon-white"></i>
    </div>
    <div class="rating"><i class="icon-heart heart icon-white"></i><i class="icon-heart heart icon-white"></i><i class="icon-heart heart icon-white"></i></div>
  </div>
  <table class="content"></table>
  <div class="more"><span><i class="icon-downArrow"></i>More</span></div>
  <div class="buttons"><a class="btn btn-primary">Fork it</a></div>
</script>