{% block title %} {% endblock %}


{% block body %}
    <h3> hello from account create view</h3>

    <form action="{{ path('_account_create') }}" method="post" {{ form_enctype(form) }}>
	{{ form_widget(form) }}

	<input type="submit" />
	</form>
{% endblock %}



{% block footer %} 
             {% include 'ListForksBundle:Footer:footer.html.twig' %}  
{% endblock %}

