<!DOCTYPE html>
<html class="no-js"></html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/styles/listforks_accounts.css">
  <title>ListForks | Account</title>
  <link href="http://fonts.googleapis.com/css?family=Fenix|Montserrat+Alternates:400,700" rel="stylesheet" type="text/css"><!--
  <html5 class="js">for IE less than 9 </html5>--><!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <body>
    <h1><img src="/images/listforks-logo-accounts.png" width="437px"></h1>
    <div class="account-container">
      <form action="login_check" method="post" class="loginform">
        <label for="_username">Username</label>
        <input type="text" name="_username" placeholder="Type your username...">
        <label for="_password">Password</label>
        <input type="password" name="_password">
        <button type="submit" class="loginform">Log in</button>
      </form>
    </div>
    <script src="/components/jquery/jquery.js"></script>
  </body>
</head>