<!DOCTYPE html>
<html lang="en"></html>
<head>
  <meta charset="utf-8">
  <title>ListForks | Live. Love. List.</title>
  <link href="/styles/landing.css" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Fenix|Montserrat+Alternates:400,700" rel="stylesheet" type="text/css"><!--
  <html5 class="js">for IE less than 9 </html5>--><!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>
  <header id="header">
    <h1 id="site-logo"><img src="/images/listforks-logo-small-home.png" width="437px"></h1>
    <nav>
      <ul id="loginbutton">
        <li><a href="login.html">Log in</a></li>
      </ul>
      <div class="loginholder">	
        <form action="login_check" method="post" class="loginform">
          <label for="_username">Username</label>
          <input type="text" name="_username" placeholder="Type your username...">
          <label for="_password">Password</label>
          <input type="password" name="_password">
          <button type="submit" class="loginform">Log in</button>
        </form>
      </div>
    </nav>
  </header>
  <div id="rightcontent">
    <h2>Your world.</h2>
    <h2>One item at a time.</h2>
    <p>Lists are better when shared. Create your own lists, browse others’, or fork them to make them your own. Never forget the milk, miss out on an awesome sight, or skip a detail again.</p>
    <button class="signup"><a href="new" style="color: black; text-decoration: none;">Sign Up</a></button>
  </div>
</body>