        <div  style="display: block; position: fixed; width: 100%; bottom: 0px; font-size: small; background-color: #ffd800; text-align: center; bottom: 0px;">
            <hr />
            <h3  style=" text-align: center; color: #b200ff; font-size: small;" >navigation during development</h3>
            <div style="display: inline-block; width: 100px; text-align: left;" >
            <ul>
                <li><h3 style="font-size: small;">List </h3></li>
                <li><a href="/app_dev.php/lists" >index</a></li>
                <li><a href="/app_dev.php/lists/new" >create</a></li>
                <li><a href="/app_dev.php/lists/edit" >edit</a></li>

            </ul>
            </div>


            <div style="display: inline-block; width: 100px; text-align: left;" >
            <ul>
                <li><a href="/app_dev.php/lists" ></a></li>
                <li><a href="/app_dev.php/lists" ></a></li>
                <li><a href="/app_dev.php/lists" ></a></li>
                <li><a href="/app_dev.php/lists" ></a></li>
            </ul>
            </div>

            <div style="display: inline-block; width: 100px; text-align: left;" >
            <ul>
                <li><h3 style="font-size: small;">Account </h3></li>
                <li><a href="/app_dev.php/accounts" > index</a></li>
                <li><a href="/app_dev.php/accounts/new" > create </a></li>
                <li><a href="/app_dev.php/accounts/edit" > edit</a></li>
            </ul>
            </div>

            <div style="display: inline-block; width: 100px; text-align: left;" >
            <ul>
                <li><a href="/app_dev.php/accounts/login" > login</a></li>
                <li><a href="/app_dev.php/accounts/logout" >logout </a></li>
                <li><a href="/app_dev.php/accounts" > </a></li>
                <li><a href="/app_dev.php/accounts" > </a></li>
            </ul>
            </div>
             <div style="display: inline-block; width: 100px; text-align: left;" >
            <ul>
                <li><a href="/app_dev.php/accounts" > </a></li>
                <li><a href="/app_dev.php/accounts" > </a></li>
                <li><a href="/app_dev.php/accounts" > </a></li>
                <li><a href="/app_dev.php/accounts" > </a></li>
            </ul>
            </div>

            <div style="display: inline-block; width: 100px; text-align: left;" >
            <ul>
                <li><h3 style="font-size: small;">Search </h3></li>
                <li><a href="/app_dev.php/search" >index</a></li>
                <li><a href="/app_dev.php/search/search" >search</a></li>
                <li><a href="/app_dev.php/search/" ></a></li>
            </ul>
            </div>
            <div style="display: inline-block; width: 100px; text-align: left;" >
            <ul>
                <li><a href="/app_dev.php/search/" ></a></li>
                <li><a href="/app_dev.php/search/" ></a></li>
                <li><a href="/app_dev.php/search/" ></a></li>
                <li><a href="/app_dev.php/search/" ></a></li>
            </ul>
            </div>
        </div>