        <div  style="display: block; position: fixed; width: 100%; bottom: 0px; font-size: small; background-color: #000000; text-align: center; bottom: 0px;">
            <hr />
            <h3  style=" text-align: center; color: #b200ff; font-size: small;" >navigation during development</h3>
            <div style="display: inline-block; width: 100px; text-align: left;" >
            <ul>
                <li><h3 style="font-size: small;">List </h3></li>
                <li>List -> <a href="../list" >index</a></li>
                <li>List -> <a href="../list/create" >create</a></li>
                <li>List -> <a href="../list/edit" >edit</a></li>

            </ul>
            </div>


            <div style="display: inline-block; width: 100px; text-align: left;" >
            <ul>
                <li>List -> <a href="../list/" ></a></li>
                <li>List -> <a href="../list/" ></a></li>
                <li>List -> <a href="../list/" ></a></li>
                <li>List -> <a href="../list/" ></a></li>
            </ul>
            </div>

            <div style="display: inline-block; width: 100px; text-align: left;" >
            <ul>
                <li><h3 style="font-size: small;">Account </h3></li>
                <li>Acct -> <a href="../account" > index</a></li>
                <li>Acct -> <a href="../account/create" > create </a></li>
                <li>Acct -> <a href="../account/edit" > edit</a></li>
            </ul>
            </div>

            <div style="display: inline-block; width: 100px; text-align: left;" >
            <ul>
                <li>Acct -> <a href="../account/" > </a></li>
                <li>Acct -> <a href="../account/" > </a></li>
                <li>Acct -> <a href="../account/" > </a></li>
                <li>Acct -> <a href="../account/" > </a></li>
            </ul>
            </div>

            <div style="display: inline-block; width: 100px; text-align: left;" >
            <ul>
                <li><h3 style="font-size: small;">Account .....</h3></li>
                <li>Acct -> <a href="../account/login" > login</a></li>
                <li>Acct -> <a href="../account/" > </a></li>
                <li>Acct -> <a href="../account/" > </a></li>
            </ul>
            </div>
             <div style="display: inline-block; width: 100px; text-align: left;" >
            <ul>
                <li>Acct -> <a href="../account/" > </a></li>
                <li>Acct -> <a href="../account/" > </a></li>
                <li>Acct -> <a href="../account/" > </a></li>
                <li>Acct -> <a href="../account/" > </a></li>
            </ul>
            </div>

            <div style="display: inline-block; width: 100px; text-align: left;" >
            <ul>
                <li><h3 style="font-size: small;">Search </h3></li>
                <li>Srch -> <a href="../search" >index</a></li>
                <li>Srch -> <a href="../search/search" >search</a></li>
                <li>Srch -> <a href="../search/" ></a></li>
            </ul>
            </div>
            <div style="display: inline-block; width: 100px; text-align: left;" >
            <ul>
                <li>Srch -> <a href="../search/" ></a></li>
                <li>Srch -> <a href="../search/" ></a></li>
                <li>Srch -> <a href="../search/" ></a></li>
                <li>Srch -> <a href="../search/" ></a></li>
            </ul>
            </div>
        </div>