{% extends 'ListForksBundle::layout.html.twig' %}

{% block title %} Error {% endblock %}


{% block body %}
    <h1>Some Error happened </h1>
    <h3>please be patient while we are making coffee and fixing the bugs for this project</h3>
{% endblock %}